body.va-large-text {
  line-height: 1.8 !important;
  letter-spacing: 0.02em !important;
}

body.va-large-text * {
  font-size: calc(1em * 1.5) !important;
  line-height: 1.8 !important;
  letter-spacing: 0.02em !important;
}

body.va-large-text p,
body.va-large-text li,
body.va-large-text blockquote {
  margin-top: 1.1em !important;
  margin-bottom: 1.1em !important;
}
